body {
	background-color: rgb(0, 0, 70);//#a0a0ff;
	color: white;
}

h1 {
	text-decoration: underline;
}

body div {
	margin: 20px;
	float: left;
}

@viewport {
	width: device-width;
}

img {
	float: right;
}
