body {
	background-color: rgb(0, 0, 35);//#a0a0ff;
	color: white;
}

h1 {
	text-decoration: underline;
}

div.horizontalLine > * {
	display: inline-block;
	text-align: center;
}

@viewport {
	width: device-width;
}

img.right {
	float: right;
}

a {
	color: grey;
}
